<h1>Change your Password</h1>
<form action="<?php if (!$tokenIsValid) {echo "change-password";} else {echo "change-password/?token=$token";} ?>" method ='post'>
    <?php if (!$tokenIsValid) {echo "<input type='password' name='oldpassword' value='' placeholder='Current Password...'></p>";} ?>
    <input type='password' name='newpassword' value='' placeholder='New Password...'></p>
    <input type='password' name='newpassword_' value='' placeholder='New Password Again...'></p>
    <input type="submit" name="changepassword" value="Change Password">
</form>