<!DOCTYPE html>
<html>
<head>
    <h1 id="title">Profile</h1>
</head>
<body>
    <p1>
    <div>
        <button id="camera-on">Camera</button> 
        <span style="float:left">
        <video id="video" width="320" height="240" autoplay></video>
        <br>
        <button id="snap">Snap Photo</button>
        <br>
        </span>
        <span style="float:right">
        <canvas id="canvas" width="320" height="240"></canvas>
        <br>
        <button id="save">Save Image</button>
        <br>
        </span>
    </div>
    <form>
    <span style="float:right">
    <a href="">
    <input type="image" src="http://localhost:8888/camagru/stickers/pepe.png" id="pepe" width="50" height="50">
    </a>
    </span>
    <span style="float:right">
    <input type="image" src="http://localhost:8888/camagru/stickers/gayaf.png" id="gayaf" width="50" height="50">
    </span>
    <span style="float:right">
    <input type="image" src="http://localhost:8888/camagru/stickers/iheartanal.png" id="iheartanal" width="50" height="50">
    </span>
    <span style="float:right">
    <input type="image" src="http://localhost:8888/camagru/stickers/imgay.png" id="imgay" width="50" height="50">
    </span>
    </form>
    </p1>
<script src = "./javascript/profile.js"></script>
</body>    
</html>
