<h1 id="title">Profile</h1>

<video id="video" width="480" height="360" autoplay></video>
<button id="snap">Snap Photo</button>

<canvas id="canvas" width="480" height="360"></canvas>
<button id="save">Save Image</button>

<script>
    var video = document.getElementById('video');

    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) 
    {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) 
        {
            video.srcObject = stream;
            video.play();
        });
    }

    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    
    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 480, 360);
        });

    document.getElementById("save").addEventListener("click", function() {
        var image = canvas.toDataURL("image/png");
        var xhr = new XMLHttpRequest();

        xhr.open('POST', 'pics');
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function (res) {
            if (xhr.status === 200 && xhr.readyState === xhr.DONE) {
                console.log('Response Text: ' + res.target.response);
                console.log('Response:', res);
            }
        }
        xhr.send("image=" + image);
        })
</script>
